In [3]:
import sqlite3
db=sqlite3.connect('student.db')

# First way to Fetch the data

In [4]:
c=db.cursor()

In [5]:
c.execute('create table details ( id number Primary Key, name varchar(20), class number(2), dob date )')

In [7]:
c.execute("insert into details values(1,'A',2,'01-02-2002')")

In [16]:

c.execute("insert into details values(2,'B',3,'21-05-2002')")
c.execute("insert into details values(3,'C',4,'04-12-2002')")
c.execute("insert into details values(5,'D',5,'11-08-2002')")
c.execute("insert into details values(4,'E',6,'30-03-2002')")
c.execute("insert into details values(6,'F',7,'01-02-2002')")

In [17]:
c.execute("insert into details values(7,'G',2,'81-02-2002')")

In [20]:
data=c.execute("Select* from details")
print(data) # Won't work since it is a cursor data

<sqlite3.Cursor object at 0x000001B89D3C5D50>

In [22]:
for i in data:
    print(i) #Will be executed one by one in loop

# Second way to Fetch the data

In [24]:
import pandas as pd
tables= pd.read_sql("Select * from details",db)

In [25]:
print(tables)  #It will work since It is not returning cursor object and no need to fetch one by one

   id name  class         dob
0   1    A      2  01-02-2002
1   2    B      3  21-05-2002
2   3    C      4  04-12-2002
3   5    D      5  11-08-2002
4   4    E      6  30-03-2002
5   6    F      7  01-02-2002
6   7    G      2  81-02-2002

In [27]:
db.commit()

In [28]:
db.close()